/*=============Base==============*/
*{
    
    --main-text-color: #3d454b;
    --logo-font: 'Pattaya', sans-serif;
    --secondary-font: 'Alegreya Sans SC', sans-serif;
    --slogen-color: #C0E218;
    --gold-text-color: #917349;
    --orange-color: #F37121;
    --purple-text-color: #111D5E;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    background: rgba(0,0,0,.6) !important;
    width: 100%;
    z-index: 110;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.search-bar {
    position: absolute;
    z-index: 1;
    top: 20%;
    width: 100%;
}

.search-icon {
    margin-left: 1px;
}

.nav-link {
    color: #fff !important;
    margin-right: 5px;
}

.nav-link:hover {
    color: var(--slogen-color) !important;
}

.dropdown-menu {
    background: rgba(0,0,0,.8);
}

.dropdown-item:hover {
    background-color: transparent;
}

#login {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: .2rem 1rem !important;
    line-height: 30px;
}

#login:hover {
    background-color: var(--slogen-color);
    border-color: var(--slogen-color);
    color: #fff !important;
}

#signup {
    border: 2px solid #C70039;
    background-color: #C70039;
    border-radius: 20px;
    padding: .2rem 1rem !important;
    line-height: 30px;
}

#signup:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #C70039 !important;

}

.input-group>.form-control:focus {
    box-shadow: none;
}

.input-group-append {
    border-left: 1px solid var(--main-text-color);
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.input-group-append i {
    color: var(--orange-color);
}

.navbar .navbar-brand {
    font-size: 2rem !important;
    width: 30%;
    text-align: center;
    font-family: var(--logo-font);
    color: #fff !important;
}

.navbar .slogen {
    display: block;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 100 !important;
    font-style: italic;
    color: var(--slogen-color);
    line-height: 0 !important;
}


.navbar .navbar-brand span {
    font-family: var(--secondary-font);
    color: var(--slogen-color);
}

.navbar .navbar-toggler-icon {
    color: var(--slogen-color) !important;
}

.alert {
    margin-bottom: 0;
    position: absolute;
    top: 15%;
    width: 100%;
    z-index: 10;
    color: var(--purple-text-color);
    background: var(--orange-color);
    font-family: var(--secondary-font);
    font-size: 25px;
}

.modal-title {
    color: var(--purple-text-color);
    font-family: var(--logo-font);
}
.modal-footer a {
    text-decoration: none;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
}

.modal-footer a:hover {
    color: var(--orange-color);
}

/*==========Home===========*/
.carousel-item img {
    object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.orange-container {
    width: 100%;
    height: 75px;
    background: var(--orange-color);
    position: relative;
}

.orange-container::after,
.orange-container::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: var(--orange-color);
    bottom: -10px;
}

.orange-container::before {
    right: 50%;
    transform: skew(0, 20deg);
}

.orange-container::after {
    left: 50%;
    transform: skew(0, -20deg);
}

.text {
    top: 30%;
    z-index: 100;
}
.text h3 {
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
}

.text span {
    font-family: var(--logo-font);
    color: var(--slogen-color);
    padding: 10px;
}

.recipe-text h2 {
    font-family: var(--logo-font);
    color: var(--main-text-color);
    letter-spacing: .1rem;
    font-size: 3rem;
    margin-top: 30px;
    
}

.recipe-text p {
    font-family: var(--secondary-font);
    color: var(--gold-text-color);
}

.recipe-categories {
    margin-top: 30px;
    padding-bottom: 10px;
}

.title h4 {
    font-family: var(--logo-font);
    color: var(--purple-text-color);
    letter-spacing: 1px;
}

.section-title {
    padding-top: 10px;
    font-size: 20px;
}

.section-title a:hover {
    color: var(--orange-color);
}

.section-title a {
    text-decoration: none;
    color: var(--purple-text-color);
    font-family: var(--logo-font);

}

.section-title p {
    font-family: var(--secondary-font);
    color: var(--gold-text-color);
}

.product {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-bottom: 20px;
}
.product .img img{
    display: block;
    border-radius: 4px;
    height: 350px;
    position: relative;
    transition: all .3s ease;
    z-index: 0;
    width: 100%;
    object-fit: cover;
}

.recipe-title a {
    text-decoration: none;
    color: var(--main-text-color);
}

.recipe-title a:hover, 
.recipe-description a:hover {
    color: var(--gold-text-color);
}

.card-title {
    margin-top: 30px;
}

.recipe-description a {
    text-decoration: none;
    color: var(--main-text-color);
}

.recipe-bottom a {
    text-decoration: none;
    color: var(--main-text-color);
}

.recipe-bottom a:hover {
    color: var(--orange-color);
}

.recipe-bottom i {
    color: var(--orange-color);
}

/*=========Add Recipe=============*/
.add-recipe-img {
    background: url('../img/7.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
}
.back-to-recipe a {
    text-decoration: none;
    color: var(--main-text-color);
}

.back-to-recipe i {
    color: var(--main-text-color);
    padding-right: 10px;
}

.back-to-recipe a:hover,
.back-to-recipe i:hover {
    color: var(--orange-color);
}

.add-recipe-container {
    /* padding: 5rem 0; */
}

fieldset {
    border: 2px solid var(--orange-color);
    padding: 20px;
}

legend {
    padding: 0 6px;
    margin: auto;
    font-family: var(--secondary-font);
    background-color: var(--orange-color);
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.form-panel {
    width: 100%;
    padding: 3rem 0;
}

.input-group {
    padding: .3rem 2rem;
}

.form-label {
    padding-left: 2rem;
    color: var(--main-text-color);
}

.input-group-text {
    color: var(--main-text-color);
}

/*=============Profile==============*/
.profile-header-img {
    background: url('../img/3.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.profile-container {
    position: absolute;
    top: 50%;
    justify-content: center;
    align-items: center;
}

.profile-container h3 {
    font-family: var(--logo-font);
    color: #fff;
    letter-spacing: .1rem;
    font-size: 50px;
}

.profile-container h4 {
    font-family: var(--secondary-font);
    color: #fff;
}

.btn-container {
    margin-top: 100px;
}

.card-body a {
    text-decoration: none;
}

.card-body h6 {
    color: var(--gold-text-color);
    font-family: var(--secondary-font);
    font-size: 30px;
}

.card-body h6:hover{
    color: #573a11;
}

.card-buttons {
    padding-top: 50px;
}

/*=====================================CUSTOM BUTTONS===================================*/
/*===Main Custom Button====*/

.btn-custom a {
    text-decoration: none;
    color: var(--navbar-color);
}
.btn-custom {
    width: 150px;
    height: 40px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-top: -100px;
}

.btn-custom::before, .btn-custom::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

.btn-custom::before {
    top: -4px;
    left: 10%;
}

.btn-custom::after {
    bottom: -4px;
    right: 10%;
}

.btn-custom:hover::before {
    left: 80%;
}

.btn-custom:hover::after {
    right: 80%;
}
/*==========Edit Custom Button=============*/
.edit-btn-custom a {
    text-decoration: none;
    color: var(--navbar-color);
}
.edit-btn-custom {
    width: 150px;
    height: 40px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: var(--gold-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.edit-btn-custom::before, .edit-btn-custom::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

.edit-btn-custom::before {
    top: -4px;
    left: 10%;
}

.edit-btn-custom::after {
    bottom: -4px;
    right: 10%;
}

.edit-btn-custom:hover::before {
    left: 80%;
}

.edit-btn-custom:hover::after {
    right: 80%;
}
/*=========Delete Custom Buttons=============*/
.delete-btn-custom a {
    text-decoration: none;
    color: var(--navbar-color);
}
.delete-btn-custom {
    width: 150px;
    height: 40px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: #ff5722;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.delete-btn-custom::before, .delete-btn-custom::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

.delete-btn-custom::before {
    top: -4px;
    left: 10%;
}

.delete-btn-custom::after {
    bottom: -4px;
    right: 10%;
}

.delete-btn-custom:hover::before {
    left: 80%;
}

.delete-btn-custom:hover::after {
    right: 80%;
}

/*=========Cancel Custom Buttons=============*/
.cancel-btn-custom a {
    text-decoration: none;
    color: var(--navbar-color);
}
.cancel-btn-custom {
    width: 150px;
    height: 40px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: #53958F;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.cancel-btn-custom::before, .cancel-btn-custom::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

.cancel-btn-custom::before {
    top: -4px;
    left: 10%;
}

.cancel-btn-custom::after {
    bottom: -4px;
    right: 10%;
}

.cancel-btn-custom:hover::before {
    left: 80%;
}

.cancel-btn-custom:hover::after {
    right: 80%;
}

/*=================btn-All-recipes==================*/
.btn-all-recipes a {
    text-decoration: none;
    color: var(--navbar-color);
}
.btn-all-recipes {
    width: 200px;
    height: 50px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-top: -100px;
}

.btn-all-recipes::before, .btn-all-recipes::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

.btn-all-recipes::before {
    top: -4px;
    left: 10%;
}

.btn-all-recipes::after {
    bottom: -4px;
    right: 10%;
}

.btn-all-recipes:hover::before {
    left: 80%;
}

.btn-all-recipes:hover::after {
    right: 80%;
}
/*======================End of buttons===========================================*/

.card {
    padding: 5px;
    margin: 3rem 0 1rem 0 !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card .card-content  {
    padding: 15px 0 25px 0 !important;
}

.card a {
    text-decoration: none;
}

.card-content a:hover {
    color: #E4291F;
}

.card-content .padding {
    padding-top: 20px;
}



/*=========Single recipe page===========*/
.single-rec-cont {
    margin-top: 6rem;
}

.recipe-header h3 {
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    padding-bottom: 40px;
}

.single-rec-image  img{
    width: 100%;
    height: 320px;
}

.tags p{
    display: inherit;
    padding-left: 10px;
    color: var(--main-text-color);
}

.tags i {
    color: var(--main-text-color);
}

/*=========Recipes page========*/
.header-img {
    background: url('../img/1.jpg') no-repeat;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    --o-background-size: cover;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
}
.header-text h2 {
    font-family: var(--logo-font);
    color: #fff;
    font-size: 50px;
}

.recipe-categories {
    margin-top: 5rem;
}

.recipe-categories h1 {
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--gold-text-color);
}

.recipes-container {
    margin-top: 10rem;
}

/*========================Search Page==========================*/
.search-header {
    background: url('../img/4.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative; 
}

.search-header-text {
    position: absolute;
    top: 50%;
}
.search-header-text h2 {
    font-family: var(--logo-font);
    color: #fff;
    font-size: 50px;
    line-height: 1px;
}

.no-recipe-bg {
    width: 100%;
    height: auto;
    margin-top: 5rem; 
}

.no-recipe-bg h1 {
    align-items: center;
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
}

.no-recipe-bg h4 {
    font-family: var(--logo-font);
    color: var(--purple-text-color);
    
}

/*=======================Categories page==================*/
.manage-cat-bg {
    background: url('../img/9.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover; 
}

.card-content p {
    font-family: var(--secondary-font);
    columns: var(--purple-text-color);
}

/*============================FOOTER=======================*/

footer {
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.social a{
    width: 80px;
    height: 80px;
    padding: 20px;
    text-decoration: none;
    color: #3d454b;
}

.social a:hover {
    transform: scale(.5);
    color: var(--orange-color);
}

.footer-orange-container {
    width: 100%;
    height: 75px;
    background: var(--orange-color);
    position: relative;
}

.footer-orange-container p {
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
}

.footer-orange-container a {
    text-decoration: none;
    color: var(--slogen-color);
    font-family: var(--logo-font);
    padding: 5px;
}

.footer-orange-container a:hover {
    color: #fff;
}

/*=========================Error pages-403,404,500=======================*/
.error-container {
    background: url('../img/10.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
}

.error-header h2 {
    color: var(--purple-text-color);
    font-family: var(--logo-font);
    letter-spacing: 1px;
}

.error-header h4 {
    color: var(--gold-text-color);
    font-family: var(--secondary-font);
}

.error-header p {
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
}

.error-header a {
    text-decoration: none;
    color: var(--gold-text-color);
    font-family: var(--logo-font);
    padding: 5px;
}

/* Pagination */
.pagination {
    color:var(--purple-text-color);
    font-family: var(--logo-font);
    font-size: 1.4rem;
}

.pagination ul {
    margin: 0 auto;
    padding-bottom: 1rem;
}

.pagination ul li {
    display: inline;
}

.pagination ul li a {
    border-radius: 0.3rem;
    color: rgba(17, 29, 94, 0.6);
    padding: 0.3rem 0.5rem;
}

.pagination ul li a:hover {
    background-color: rgba(243, 113, 33, .3);
}

.pagination ul {
    padding-left: 0;
}

/*==========================MEDIA=========================*/
@media screen and (max-width: 991px) {
    .card-buttons {
        padding-top: 0;
    }
    .text h3 {
        font-size: 20px;
    }
    
    .text span {
        font-size: 20px;
    }
    .footer-orange-container p {
        font-size: 16px;
    }
}

@media screen and (max-width: 386px) {
    .delete-btn-custom {
        margin-top: 10px;
    }
}

@media screen and (max-width:480px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}

@media screen and (max-width:767px) {
    form {
        display: block;
        margin: 0 auto;
    }
    .form-label {
        padding-left: 0;
    }
    .navbar .navbar-brand {
        font-size: 1.5rem !important;
    }
    .navbar .slogen {
        font-size: 1rem;
    }
    .text h3 {
        font-size: 20px;
    }
    .profile-container h3 {
        font-size: 25px;
    }
    fieldset {
        border: none;
        padding: 0;
        margin-top: 20px;   
    }
    legend {
        padding: 0px 0px;
        font-size: 1.5rem;
    }
    .social {
        padding-bottom: 10px;
    }
    .input-group {
        padding: 0;
    }
    .search-bar {
        top: 80px;
    }
    .text {
        top: 10%;
    }
    
}

@media screen and (max-width:992px) {
    .carousel-inner {
        height: auto !important;
    }
    .navbar-nav {
        padding-left: 20px;
    }
    .navbar-collapse {
        background: black ;
        opacity: .9;
        border-radius: 1px;
    }
}