/*=============Base==============*/
*{
    --main-text-color: #3d454b;
    --logo-font: 'Pattaya', sans-serif;
    --secondary-font: 'Alegreya Sans SC', sans-serif;
    --slogen-color: #C0E218;
    --gold-text-color: #917349;
    --orange-color: #F37121;
    --purple-text-color: #111D5E;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar {
    background: rgba(0,0,0,.6) !important;
    width: 100%;
    z-index: 110;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.search-bar {
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;
}

.search-icon {
    margin-left: 1px;
}

.nav-link {
    color: #fff !important;
    margin-right: 5px;
}

.nav-link:hover {
    color: var(--slogen-color) !important;
}

.dropdown-menu {
    background: rgba(0,0,0,.8);
}

.dropdown-item:hover {
    background-color: transparent;
}

#login {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: .2rem 1rem !important;
    line-height: 30px;
}

#login:hover {
    background-color: var(--slogen-color);
    border-color: var(--slogen-color);
    color: #fff !important;
}

#signup {
    border: 2px solid #C70039;
    background-color: #C70039;
    border-radius: 20px;
    padding: .2rem 1rem !important;
    line-height: 30px;
}

#signup:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #C70039 !important;
}

#signout {
    border: 2px solid #C70039;
    background-color: #C70039;
    border-radius: 20px;
    padding: .2rem 1rem !important;
    line-height: 30px; 
}

#signout:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #C70039 !important;
}

.input-group>.form-control:focus {
    box-shadow: none;
}

.input-group-append {
    border-left: 1px solid var(--main-text-color);
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.input-group-append i {
    color: var(--orange-color);
}

.navbar .navbar-brand {
    font-size: 2rem !important;
    width: 30%;
    text-align: center;
    font-family: var(--logo-font);
    color: #fff !important;
}

.navbar .navbar-brand:hover {
    color: var(--slogen-color) !important;
}

.navbar .slogen {
    display: block;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 100 !important;
    font-style: italic;
    color: var(--slogen-color);
    line-height: 0 !important;
}

.navbar .navbar-brand span {
    font-family: var(--secondary-font);
    color: var(--slogen-color);
}

.navbar .navbar-toggler-icon {
    color: var(--slogen-color) !important;
}

.alert {
    margin-bottom: 0;
    position: absolute;
    top: 15%;
    width: 100%;
    z-index: 10;
    color: var(--purple-text-color);
    background: var(--orange-color);
    font-family: var(--secondary-font);
    font-size: 25px;
}

.modal-title {
    color: var(--purple-text-color);
    font-family: var(--logo-font);
    letter-spacing: 1px;
    font-size: 20px;
}

.modal-footer a {
    text-decoration: none;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
}

.modal-footer a:hover {
    color: var(--orange-color);
}
/*==Sign-in and Sign-up modal btn======*/
.purple-btn {
    width: 200px;
    height: 50px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.purple-btn:hover {
    border: 4px solid var(--orange-color);
}

.purple-btn i {
    color: var(--orange-color);
}

/*==========Home===========*/
.carousel-inner {
    max-height: 40rem;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.orange-container {
    width: 100%;
    height: 75px;
    background: var(--orange-color);
    position: relative;
}

.orange-container::after,
.orange-container::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: var(--orange-color);
    bottom: -10px;
}

.orange-container::before {
    right: 50%;
    transform: skew(0, 20deg);
}

.orange-container::after {
    left: 50%;
    transform: skew(0, -20deg);
}

.text {
    top: 30%;
    z-index: 100;
}
.text h3 {
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
}

.text span {
    font-family: var(--logo-font);
    color: var(--slogen-color);
    padding: 10px;
}

.recipe-text h2 {
    font-family: var(--logo-font);
    color: var(--main-text-color);
    letter-spacing: .1rem;
    font-size: 3rem;
    margin-top: 30px;
    
}

.recipe-text p {
    font-family: var(--secondary-font);
    color: var(--gold-text-color);
}

.recipe-categories {
    margin-top: 30px;
    padding-bottom: 10px;
}

.title h4 {
    font-family: var(--logo-font);
    color: var(--purple-text-color);
    letter-spacing: 1px;
}

.section-title {
    padding-top: 10px;
    font-size: 20px;
}

.section-title a:hover {
    color: var(--orange-color);
}

.section-title a {
    text-decoration: none;
    color: var(--purple-text-color);
    font-family: var(--logo-font);

}

.section-title p {
    font-family: var(--secondary-font);
    color: var(--gold-text-color);
}

.product {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-bottom: 20px;
}
.product .img img{
    display: block;
    border-radius: 4px;
    height: 350px;
    position: relative;
    transition: all .3s ease;
    z-index: 0;
    width: 100%;
    object-fit: cover;
}

.recipe-title a {
    text-decoration: none;
    color: var(--main-text-color);
}

.recipe-title a:hover, 
.recipe-description a:hover {
    color: var(--gold-text-color);
}

.card-title {
    margin-top: 30px;
}

.recipe-description a {
    text-decoration: none;
    color: var(--main-text-color);
}

/*===Home page purple btn===*/
.all-recipe-btn a{
    text-decoration: none;
    width: 200px;
    height: 50px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.all-recipe-btn a:hover {
    border: 4px solid var(--orange-color);
}

.all-recipe-btn i {
    color: var(--orange-color);
}
/*=========Add Recipe=============*/
.add-recipe-img {
    background: url('../img/7.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
}
.back-to-recipe {
    padding-top: 120px;
}

.back-to-recipe a {
    text-decoration: none;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
}

.back-to-recipe i {
    color: var(--purple-text-color);
    padding-right: 10px;
}

.back-to-recipe a:hover,
.back-to-recipe i:hover {
    color: var(--orange-color);
}

fieldset {
    border: 2px solid var(--orange-color);
    padding: 20px;
    margin: 20px;
}

legend {
    padding: 0 6px;
    margin: auto;
    font-family: var(--secondary-font);
    background-color: var(--orange-color);
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.form-panel {
    width: 100%;
    padding: 3rem 0;
}

.input-group {
    padding: .3rem 2rem;
}

.form-label {
    padding-left: 2rem;
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
}

form label {
    color: var(--purple-text-color);
}

.input-group-text {
    color: var(--main-text-color);
}

.add-recipe-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: #198754;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.add-recipe-buttons a:hover {
    color: #02532e;
}

.add-recipe-buttons button {
    border: none;
    outline: none;
    background: none;
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
    border: 4px solid;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 30px;
}

.add-recipe-buttons button:hover {
    color: var(--orange-color);
}

.edit-recipe-buttons a {
    text-decoration: none;
    padding: 10px 70px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: #198754;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.edit-recipe-buttons a:hover {
    color: #02532e;
}

.edit-recipe-buttons button {
    border: none;
    outline: none;
    background: none;
    font-family: var(--secondary-font);
    color: var(--gold-text-color);
    border: 4px solid;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 52px;
}

.edit-recipe-buttons button:hover {
    color: #70470d;
}

/*=============Profile==============*/
.profile-header-img {
    background: url('../img/3.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.profile-container {
    position: absolute;
    top: 50%;
    justify-content: center;
    align-items: center;
}

.profile-container h3 {
    font-family: var(--logo-font);
    color: #fff;
    letter-spacing: .1rem;
    font-size: 50px;
}

.profile-container h4 {
    font-family: var(--secondary-font);
    color: #fff;
}

.btn-container {
    margin-top: 100px;
}

.card-body a {
    text-decoration: none;
}

.card-body h6 {
    color: var(--gold-text-color);
    font-family: var(--secondary-font);
    font-size: 30px;
}

.card-body h6:hover{
    color: #573a11;
}

.profile-buttons {
    margin-top: 50px;
}

.profile-buttons .edit {
    text-decoration: none;
    padding: 10px 30px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: var(--gold-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.profile-buttons .edit:hover {
    color: #70470d;
}

.profile-buttons .delete {
    text-decoration: none;
    padding: 10px 20px;
    background: none;
    border: 4px solid;
    border-radius: 30px;
    color: #C70039;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.profile-buttons .delete:hover {
    color: rgb(133, 2, 2);
}

.card {
    padding: 5px;
    margin: 3rem 0 1rem 0 !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card .card-content  {
    padding: 15px 0 25px 0 !important;
}

.card a {
    text-decoration: none;
}

.card-content a:hover {
    color: #E4291F;
}

.card-content .padding {
    padding-top: 20px;
}

/*=========Single recipe page===========*/
.single-rec-cont {
    margin-top: 6rem;
}

.recipe-header h3 {
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    padding-bottom: 40px;
}

.product2 {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.product2 .img img{
    display: block;
    border-radius: 4px;
    height: 350px;
    position: relative;
    width: 100%;
    object-fit: cover;
}

.tag {
    display: inherit;
    padding-left: 10px;
    color: var(--purple-text-color);
}

.tag i {
    color: var(--purple-text-color);
}

.details h6 {
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
    font-size: 20px;
}

/*=========Recipes page========*/
.header-img {
    background: url('../img/1.jpg') no-repeat;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    --o-background-size: cover;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
}
.header-text h2 {
    font-family: var(--logo-font);
    color: #fff;
    font-size: 50px;
    padding-top: 65px;
}

.recipe-categories {
    margin-top: 5rem;
}

.recipe-categories h1 {
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--gold-text-color);
}

.recipes-container {
    margin-top: 10rem;
}

/*========================Search Page==========================*/
.search-header {
    background: url('../img/4.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative; 
}

.search-header-text {
    position: absolute;
    top: 50%;
}
.search-header-text h2 {
    font-family: var(--logo-font);
    color: #fff;
    font-size: 50px;
    line-height: 1px;
}

.no-recipe-bg {
    width: 100%;
    height: auto;
    margin-top: 5rem; 
}

.no-recipe-bg h1 {
    align-items: center;
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
}

.no-recipe-bg h4 {
    font-family: var(--logo-font);
    color: var(--purple-text-color);
    
}

/*=======================Categories page==================*/
.manage-cat-bg {
    background: url('../img/9.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
    position: relative;
}   

.admin-header-text {
    position: absolute;
    top: 50%;
}

.admin-header-text h2 {
    font-family: var(--logo-font);
    color: #fff;
    font-size: 50px;
}
 
.card-action a{
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
    padding: 0 10px;
}

.card-action a:hover {
    color: var(--orange-color);
}

.card-content p {
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
}

.card-action button {
    border: none;
    outline: none;
    background: none;
    font-family: var(--secondary-font);
    color: var(--purple-text-color);
}

.card-action button:hover {
    color: var(--orange-color);
}

/*============================FOOTER=======================*/

footer {
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.social a{
    width: 80px;
    height: 80px;
    padding: 20px;
    text-decoration: none;
    color: #3d454b;
}

.social a:hover {
    transform: scale(.5);
    color: var(--orange-color);
}

.footer-orange-container {
    width: 100%;
    height: 75px;
    background: var(--orange-color);
    position: relative;
}

.footer-orange-container p {
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
}

.footer-orange-container a {
    text-decoration: none;
    color: var(--slogen-color);
    font-family: var(--logo-font);
    padding: 5px;
}

.footer-orange-container a:hover {
    color: #fff;
}

/*=========================Error pages-403,404,500=======================*/
.error-hero h2 {
    font-family: var(--logo-font);
    color: #fff;
    font-size: 50px;
    margin-top: 10%;
}

.error-container {
    background: url('../img/10.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    object-fit: cover;
}

.error-header h2 {
    color: var(--purple-text-color);
    font-family: var(--logo-font);
    letter-spacing: 1px;
}

.error-header h4 {
    color: var(--gold-text-color);
    font-family: var(--secondary-font);
}

.error-header p {
    color: var(--purple-text-color);
    font-family: var(--secondary-font);
}

.error-header a {
    text-decoration: none;
    color: var(--gold-text-color);
    font-family: var(--logo-font);
    padding: 5px;
}

.error-header a:hover {
    color: var(--purple-text-color);
}

/* Pagination */
.pagination {
    color:var(--purple-text-color);
    font-family: var(--logo-font);
    font-size: 1.4rem;
}

.pagination ul {
    margin: 0 auto;
    padding-bottom: 1rem;
}

.pagination ul li {
    display: inline;
}

.pagination ul li a {
    border-radius: 0.3rem;
    color: rgba(17, 29, 94, 0.6);
    padding: 0.3rem 0.5rem;
}

.pagination ul li a:hover {
    background-color: rgba(243, 113, 33, .3);
}

.pagination ul {
    padding-left: 0;
}

/*==========================MEDIA=========================*/
@media screen and (max-width: 1199px) {
    .profile-buttons {
        margin-top: 40px;
    }
}
@media screen and (max-width: 991px) {
    .text h3 {
        font-size: 20px;
    }
    .text span {
        font-size: 20px;
    }
    .footer-orange-container p {
        font-size: 16px;
    }
    .navbar-collapse {
        background: black ;
        opacity: .9;
        border-radius: 1px;
    }
    .alert {
        top: 15%;
    }
    .navbar-nav {
        padding: 20px 0;
    }
    .navbar-nav .nav-link {
        padding-left: 20px !important;
    }
    #login {
      margin: 15px 30px;  
    }
    #signup {
       margin: 15px 30px; 
    }
    fieldset {
        border: none;
        padding: 0;
        margin-top: 20px;   
    }
    legend {
        padding: 0px 0px;
        font-size: 1.5rem;
    }
    .search-bar {
        top: 18%;
    }
    .error-hero h2 {
        margin-top: 30%;
    }
    .profile-container h3 {
        padding-top: 40px;
    }
}

@media screen and (max-width:480px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}

@media screen and (max-width:359px){
    .search-bar {
        display: none;
    }
    .profile-buttons .edit {
        padding: 5px 10px;
        border: 3px solid;
        font-size: 15px;   
    }
    .profile-buttons .delete {
        padding: 5px 10px;
        border: 3px solid;
        font-size: 15px;
    }
}

@media screen and (max-width:767px) {
    form {
        display: block;
        margin: 0 auto;
    }
    .form-label {
        padding-left: 0;
    }
    .navbar .navbar-brand {
        font-size: 1.5rem !important;
    }
    .navbar .slogen {
        font-size: 1rem;
    }
    .text h3 {
        font-size: 20px;
    }
    .profile-container h3 {
        font-size: 25px;
        padding-top: 30px;
    }
    .social {
        padding-bottom: 10px;
    }
    .input-group {
        display: block;
        padding: 0;
    }
    #method {
        margin: 0;
        width: 100%;
    }
    #description {
        margin: 0;
        width: 100%;
    }
    #ingredients {
        margin: 0;
        width: 100%;
    }
    #image {
        margin: 0;
        width: 100%;
    }
    #cook_time {
        margin: 0;
        width: 100%;
    }
    #prep_time {
        margin: 0;
        width: 100%;
    }
    #serves {
        margin: 0;
        width: 100%;
    }
    #chef {
        margin: 0;
        width: 100%;
    }
    #recipe_name {
        margin: 0;
        width: 100%;
    }
    #difficulty_level {
        margin: 0;
        width: 100%;
    }
    #category_name {
        margin: 0;
        width: 100%;
    }
    .input-group-prepend {
        display: block;
    }
    .search-bar {
        top: 25%;
    }
    .text {
        top: 10%;
    }
    .alert {
        top: 15%;
        font-size: 16px;
    }
    .error-hero h2 {
        margin-top: 50%;
    }
    .add-recipe-buttons button {
        margin-bottom: 30px;
    }
    .edit-recipe-buttons button {
        margin-bottom: 30px;
    }
    .profile-buttons {
        margin-top: 30px;
    }
    .add-recipe-buttons a {
        padding: 8px 10px;
        border: 3px solid;
        font-size: 15px;
    }
    .add-recipe-buttons button {
        border: 3px solid;
        font-size: 15px;
        padding: 5px 20px;
    }   
    
}
