/*=============Base==============*/
*{
    --main-text-color: #E4291F;
    --light-text-color: rgb(204, 204, 204);
    --logo-font: 'Pattaya', sans-serif;
    --secondary-font: 'Alegreya Sans SC', sans-serif;
}
hr {
    color: #86B51B !important;
}
.navbar-bg-color {
    background: transparent;
}

nav {
    box-shadow: none !important;
    margin-bottom: 20px;
}

nav ul a{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: italic;

}

nav .brand-logo {
    font-size: 3rem !important;
}

nav .slogen {
    display: block;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 100 !important;
    font-style: italic;
    color: #fff;
    line-height: 0 !important;
}

.brand-logo, .sidenav h4 {
    font-family: var(--logo-font);
    color: var(--main-text-color) !important;
}

.brand-logo span, .sidenav span {
    font-family: var(--secondary-font);
    color: var(--main-text-color);
}

.sidenav {
    z-index: 1001;
}

.flashes h4 {
    color: var(--main-text-color);
    padding-top: 50px;
}

@media screen and (max-width: 600px) {
    nav .brand-logo {
        font-size: 2rem !important;
    }
    nav .slogen {
        font-size: 1rem;
    }
}


/*===========Register==================*/
.card-panel {
    margin-top: 5rem;
    background: rgba(0,0,0,.8);
}

.card-panel input, textarea{
    color: #fff;

}
.card-panel h4 {
    font-family: var(--logo-font);
    color: var(--main-text-color);
}

.card-panel p {
    font-family: var(--secondary-font);
    font-weight: 400;
}

.prefix {
    color: var(--main-text-color);
}

.input-field label {
    font-family: var(--secondary-font);
}


/*==========Home===========*/
.recipe-text {
    margin-top: 5rem;
}

.card .card-action  {
    font-family: var(--secondary-font);
    color: var(--main-text-color) !important;
}
.card-action i {
    color: var(--main-text-color) !important;
    margin-left: 10px;
}

.homepage-cards {
    margin: 10px !important;
}
.homepage-cards a {
    color: coral;
}

/*=========Add Recipe=============*/

.back-to-recipe {
    margin-top: 3rem;
}

.back-to-recipe a, i {
    color: #86B51B;
    padding-right: 10px;
}

.add-recipe-container {
    margin-top: 3rem;
}

fieldset {
    border: 2px solid rgb(230, 230, 230);
    padding: 20px;
}

legend {
    padding: 0 6px;
    margin: auto;
    font-family: var(--secondary-font);
    background-color: var(--main-text-color);
    color: #fff;
    font-size: 2rem;
}

/*=============Profile==============*/
.btn, .btn-large, .btn-small, .btn-flat {
    background: var(--main-text-color);
    margin: 5px;
    padding: 0 5px !important;
}

.btn-small :hover {
    background-color: #86B51B !important;
}

.modal-footer {
    text-align: center !important;
}

.card {
    padding: 5px;
    margin: 5rem 0 1rem 0 !important;
}
.card .card-content  {
    padding: 15px 0 25px 0 !important;
}

.card a {
    text-decoration: none;
}

.card-content a:hover {
    color: #E4291F;
}

.card-content .padding {
    padding-top: 20px;
}

.recipe-title a {
    color: coral;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}
@media only screen and (min-width: 601px){
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 300px){
    .btn, .btn-large, .btn-small, .btn-flat {
        margin: 0;
    }
}

/*=========Single recipe page===========*/
.single-rec-cont {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.single-rec-image  img{
    width: 100%;
    height: 320px;
}

.tag {
    display: inline-block;
    padding-left: 20px;
}
