{% extends "base.html" %}
{% block content %}

<div class="container-fluid add-recipe-img"></div>
<div class="container back-to-recipe mt-5">
    <a href="{{ url_for('get_categories') }}"><i class="fas fa-arrow-circle-left"></i>Back to
        Categories</a>
</div>



<div class="container add-recipe-container">
    <fieldset>
        <legend>Add Category</legend>
        <form method="POST" action="{{ url_for('add_category') }}">
            <div class="form-panel">
                <label class="form-label" for="category_name">Category Name</label>
                <div class="input-group mb-5">
                    <input id="category_name" name="category_name" type="text" minlength="3" maxlength="25"
                        class="form-control validate" rows="1" placeholder="Category Name">
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn-custom">Add Category</button>
                        <button class="cancel-btn-custom"><a href="{{ url_for('get_categories') }}">Cancel</a></button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>

{% endblock %}