{% extends "base.html" %}
{% block content %}
<div class="container-fluid add-recipe-img"></div>
    <div class="container back-to-recipe mt-5">
        <a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-arrow-circle-left"></i>Back to my
            recipes</a>
    </div>

    <div class="container add-recipe-container">
        <fieldset>
            <legend>Add Your Own Recipes</legend>
            <small class="">* Required fields</small>
            <form class="col-sm-12" method="POST" action="{{ url_for('add_recipe') }}">
                <div class="form-panel">
                    <!--Start Category Section-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="category_name">Choose *</label>
                        </div>
                        <select id="category_name" name="category_name" class="custom-select validate" required>
                            <option value="" disabled selected>Category *</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--End Category Section-->

                    <!--Start Difficulty Level Section-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Choose *</label>
                        </div>
                        <select id="difficulty_level" name="difficulty_level" class="custom-select validate" required>
                            <option value="" disabled selected>Difficulty Level *</option>
                            {% for difficulty in difficulties %}
                            <option value="{{ difficulty.difficulty_level}}">{{ difficulty.difficulty_level}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--End Difficulty Level Section-->

                    <!--Start Recipe Name Section-->
                    <div class="row">
                        <label class="form-label" for="recipe_name">Recipe Title *</label>
                        <div class="input-group mb-3">
                            <input type="text" id="recipe_name" name="recipe_name" class="form-control validate"
                                minlength="5" maxlength="50" rows="1" aria-label="Recipe Name"
                                aria-describedby="basic-addon1" placeholder="Recipe Title" required>
                        </div>
                    </div>
                    <!--End Recipe Name Section-->

                    <!--Start Chef Name Section-->
                    <div class="row">
                        <label class="form-label" for="chef">Chef of this meal</label>
                        <div class="input-group mb-3">
                            <input type="text" id="chef" name="chef" minlength="5" maxlength="30"
                                class="form-control validate" placeholder="Chef" rows="1" aria-label="Chef"
                                aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <!--End Chef Name Section-->

                    <!--Start Serves Section-->
                    <div class="row">
                        <label class="form-label" for="serves">Serves *</label>
                        <div class="input-group mb-3">
                            <input id="serves" type="text" name="serves" placeholder="Serves"
                                class="form-control validate" aria-label="Serving" aria-describedby="basic-addon3"
                                required>
                            <span class="input-group-text" id="basic-addon3">For Example: 2</span>
                        </div>
                    </div>
                    <!--End Serves Section-->

                    <!--Start Prep-time Section-->
                    <div class="row">
                        <label for="prep_time" class="form-label">Preparation Time * <i class="fas fa-question-circle"
                                data-toggle="tooltip" data-placement="right" title="Enter total preparation time"></i>
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" id="prep_time" name="prep_time" class="form-control validate" required
                                placeholder="Preparation Time" aria-label="Preparation Time"
                                aria-describedby="basic-addon4">
                            <span class="input-group-text" id="basic-addon4">For Example: 20 mins.</span>
                        </div>
                    </div>
                    <!--End Prep-time Section-->

                    <!--Start Cook-time Section-->
                    <div class="row">
                        <label for="cook_time" class="form-label">Cooking Time * <i class="fas fa-question-circle"
                                data-toggle="tooltip" data-placement="right" title="Enter total cooking time"></i>
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" id="cook_time" name="cook_time" class="form-control validate" required
                                placeholder="Cooking Time" aria-label="Cooking Time" aria-describedby="basic-addon5">
                            <span class="input-group-text" id="basic-addon5">For Example: 20 mins.</span>
                        </div>
                    </div>
                    <!--End Cook-time Section-->

                    <!--Start File Upload Section-->
                    <div class="row">
                        <label class="form-label" for="image">Recipe Image URL</label>
                        <div class="input-group mb-3">
                            <input type="text" id="image" name="image" rows="3" maxlength="200"
                                class="form-control validate" aria-describedby="basic-addon6">
                            <span class="input-group-text" id="basic-addon6">https://example.com/users/</span>
                        </div>
                    </div>
                    <!--End File Upload Section-->

                    <!--Start Ingredients Section-->
                    <div class="row">
                        <label for="ingredients" class="form-label">Ingredients *</label>
                        <div class="input-group mb-3">
                            <textarea id="ingredients" name="ingredients" class="form-control validate" minlength="5"
                                maxlength="1000" aria-label="Ingredients" aria-describedby="basic-addon7"
                                required></textarea>
                            <span class="input-group-text" id="basic-addon7">Write each ingradients in new line</span>
                        </div>
                    </div>
                    <!--End Ingredients Section-->

                    <!--Start Method Section-->
                    <div class="row">
                        <label for="method" class="form-label">Method *</label>
                        <div class="input-group mb-3">
                            <textarea id="method" name="method" class="form-control validate" minlength="5"
                                maxlength="1000" aria-label="Method" aria-describedby="basic-addon8"
                                required></textarea>
                            <span class="input-group-text" id="basic-addon8">Write each steps in new line</span>
                        </div>
                    </div>
                    <!--End Method Section-->

                    <!--Start Description Section-->
                    <div class="row">
                        <label for="description" class="form-label">Short Description *</label>
                        <div class="input-group mb-3">
                            <textarea id="description" name="description" class="form-control validate" minlength="5"
                                maxlength="1000" aria-label="Description" aria-describedby="basic-addon9"
                                required></textarea>
                            <span class="input-group-text" id="basic-addon9">Write a short description</span>
                        </div>
                    </div>
                    <!--End Description Section-->

                    <div class="row">
                        <div class="col-sm-12 text-align">
                            <button type="submit" class="delete-btn-custom">Add Recipe</button>
                            <button class="cancel-btn-custom"><a
                                    href="{{ url_for('profile', username=session['user']) }}">Cancel</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>

{% endblock %}