{% extends "base.html" %}
{% block content %}
<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        object-fit: cover;
        background-image: url("{{url_for('static', filename='img/my-profile-bg.jpg') }}");
    }

    nav ul a {
        color: var(--light-text-color);
    }

    nav .slogen {
        color: var(--light-text-color);
    }

    .nav-wrapper i {
        color: var(--light-text-color);
    }
</style>

<h5 class="center-align">Manage Categories</h5>

<!--Start add category button-->
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-small">Add new category</a>
    </div>
</div>


<div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4 center-align">
                <div class="card">
                    <div class="card-content dark-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn-small">Edit Category</a>
                        <a href="#delete-modal-{{ (category._id) }}" class="btn-small modal-trigger">Delete Category</a>
                    </div>
                </div>
                <!--Credit: materialize css Modals https://materializecss.com/modals.html-->
                <!--Start Delete-Modal-->
                <div id="delete-modal-{{ (category._id) }}" class="modal center-align">
                    <div class="modal-content">
                        <h6 id="info-modal-content">Are you sure you want to delete the category?</h6>
                    </div>
                    <!--Modal footer-->
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small">Delete</a>
                        <a href="{{ url_for('get_categories') }}" class="btn-small">Cancel</a>
                    </div>
                </div>
                <!--End Credit-->
            </div>
        {% endfor %}
    </div>
</div>



{% endblock%}