{% extends "base.html" %}
{% block content %}

<style>
  nav ul a {
    color: var(--light-text-color);
  }

  nav .slogen {
    color: var(--light-text-color);
  }

  .nav-wrapper i {
    color: var(--light-text-color);
  }
</style>

<div id="fixed-background">
    <div class="row text-light py-md-5">
      <div class="col-12 text-center">

    </div>
  </div>
  <div id="fixed-wrap">
    <div id="fixed">
    </div>
  </div>
</div>
<!--Section to display all recipes-->
<div class="recipe-text">
  <h3 class="recipe-header center-align">All Recipes</h3>
</div>
<div class="container">
  <div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{ recipe.image }}">
        </div>
        <div class="card-content">
          <h3 class="center-align">{{ recipe.recipe_name }}</h3>
          <p><strong>{{ recipe.description}}</strong></p>
          <p>Category: {{ recipe.category_name }}</p>
          <p>Difficulty Level: {{ recipe.difficulty }}</p>
          <p><em>by: {{ recipe.username }}</em></p>
        </div>
        <div class="card-action">
          <a href="#">Go for the recipe<i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}