{% extends "base.html" %}
{% block content %}

    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            object-fit: cover;
            background-image: url("{{url_for('static', filename='img/2.jpg')}}");
        }
    </style>


<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <h4 class="center-align">Welcome Foodie!</h4>
            <p class="center-align white-text">Register to add recipes to your recipe box, and create your own recipes and
                menues.</p>
            <small class="center-align grey-text text-lighten-1">Minimum 8 caracther one upper case letter, one lower
                case letter and one digit</small>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button class="col s12 btn-large waves-effect waves-orange" type="submit" name="action">Register
                    <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="center-align white-text">
                        Already Registered?
                        <a href="{{ url_for('login') }}" class="center-align grey-text text-lighten-1">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}