{% extends "base.html" %}
{% block content %}


<div class="container-fluid search-header"></div>
<div class="row search-header-text">
      <div class="col-md-12 text-center">
            <h2>Search Result</h2>
      </div>
</div>
<div class="container-fluid orange-container"></div>
<div class="col-12 text-center text">
      {% if total < 2 %}
      <h3>{{ total }} Recipe Found</h3>
      {% else %}
      <h3>{{ total }} Recipes Found</h3>
      {% endif %}
</div>
<div class="container back-to-recipe mt-5 pt-5">
      <a href="{{ url_for('recipes', categories = 'all') }}"><i class="fas fa-arrow-circle-left"></i>Back to all
          recipes</a>
</div>
<div class="container no-recipe-bg">
      {% if total == 0%}
      <h1 class="text-center">Sorry no recipes was found here, please try somethind else!</h1>
      {% else %}

      <div class="row">
            <div class="col-sm-12 d-flex">
              <h4>Search by Category:</h4>
              <h4 class="pl-md-3">{{ categories | title }}</h4>
            </div>
          </div>
      <div class="row mt-5">
            {% for recipe in recipes %}
            <div class="col-md-6 col-lg-4 d-flex">
                  <div class="product">
                        {% if recipe.image %}
                        <div class="img d-flex align-items-center justify-content-center">
                              <img class=" img-fluid" src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
                        </div>
                        {% else %}
                        <div class="img d-flex align-items-center justify-content-center">
                              <img class=" img-fluid" src="{{ url_for('static', filename='img/no-recipe-img.jpg') }}"
                                    alt="{{ recipe.recipe_name }}">
                        </div>
                        {% endif %}
                        <div class="text-center">
                              <span class="recipe-title"><a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">
                                          <h6 class="card-title"><strong>{{ recipe.recipe_name }}</strong></h6>
                                    </a>
                              </span>
                              <span class="recipe-description d-block"><a
                                          href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">
                                          {{ recipe.description | truncate(40, true) }}</a></span>
                              <span class="recipe-category d-block">Category: {{ recipe.category_name }}</span>
                              <span class="recipe-difficulty d-block">Difficulty Level:
                                    {{ recipe.difficulty_level }}</span>
                              <span class="posted d-block">Posted by: {{ recipe.chef }} on
                                    {{ recipe.formated_date }}</span>
                        </div>
                  </div>

            </div>
            {% endfor %}
      </div>
      {% endif %}
</div>
      





{% endblock %}