{% extends "base.html" %}
{% block content %}

<div class="container back-to-recipe">
    {% if recipe.username == session.user %}
    <a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-arrow-circle-left"></i>Back to my
        recipes</a>
        {% else %}
    <a href="{{ url_for('recipes', categories = 'all') }}"><i class="fas fa-arrow-circle-left"></i>Back to all
        recipes</a>
    {% endif %}
</div>

<!--Start recipe content container-->
<div class="container single-rec-cont">
    <div class="row recipe-header">
        <div class="col-sm-12 text-center">
            <h3>{{ recipe.recipe_name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 product">
            {% if recipe.image %}
            <div class="img d-flex align-items-center justify-content-center">
              <img class=" img-fluid" src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
            </div>
            {% else %}
            <div class="img d-flex align-items-center justify-content-center">
              <img class=" img-fluid" src="{{ url_for('static', filename='img/no-recipe-img.jpg') }}" alt="{{ recipe.recipe_name }}">
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
            <p>{{ recipe.description }}</p>
            <p>Created by Chef: {{ recipe.chef }}</p>
            <hr>
            <p>Serves: {{ recipe.serves }}</p>
            <p>Preparation Time: {{ recipe.prep_time }} minutes</p>
            <p>Cooking : {{ recipe.cook_time }} minutes<p>
            <p>Difficulty: {{ recipe.difficulty_level }}</p>
            <hr>
            <i class="fas fa-tag"><p class="tag">{{ recipe. category_name}}</p></i>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h6>Ingredients</h6>
            <ul>
                <!--Make for loop to iterate over the ingredients list-->
                <!--Use splitline() methods to returns a list with all the lines in string
                ref:https://www.tutorialspoint.com/python3/string_splitlines.htm-->
                {% for list in recipe.ingredients.splitlines() %}
                <li>
                    <p>{{ list }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-12 col-md-8">
            <h6>Method</h6>
            <ol>
                <!--Make for loop to iterate over  the method steps-->
                <!--Use splitline() methods to returns a list with all the lines in string
                ref: https://www.tutorialspoint.com/python3/string_splitlines.htm-->
                {% for method in recipe.method.splitlines() %}
                <li>
                    <p>{{ method }}</p>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <!--Start Edit, Delete Buttons-->
    {% if recipe.username == session.user %}
    <div class="row mb-5">
        <div class="col-sm-12">
            <div class="profile-buttons text-center">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }} " class="edit">Edit Recipe</a>
                <a href="#delete-modal-{{ recipe._id }} " data-toggle="modal" data-target="#delete-modal-{{ recipe._id }}" class="delete">Delete Recipe</a>
            </div>
        </div>
    </div>

    <!--Start Delete-Modal-->
    <div class="modal fade" id="delete-modal-{{ recipe._id }}" tabindex="-1" aria-labelledby="delete-modal-{{ recipe._id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="delete-modal-{{ recipe._id }}">Are you sure you want to delete this recipe?</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid" src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
                            </div>
                            <div class="col-md-6">
                                <h6 class="text-center">{{ recipe.recipe_name }}</h6>
                                <p>{{ recipe.description }}</p>
                            </div>
                        </div> 
                    </div>
                    <!--Modal footer-->
                    <div class="modal-footer text-center">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }} " class="delete-btn-custom">Delete</a>
                        <a href="{{ url_for('profile', username=session['user']) }}" class="cancel-btn-custom">Cancel</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    {% endif %}
</div>




{% endblock %}